@{
    ViewBag.Title = T("会员业绩统计").Text;
}

<div class="section-header">
    <div class="title">
        <i class="far fa-chart-bar"></i>
        @T("会员业绩统计")
    </div>
</div>


<div>
    @(Html.Telerik().Grid<DeclarationCustomerModel>()
		.Name("stores-grid")
		.Columns(columns =>
		{
			columns.Bound(x => x.Name).Title("会员名");
			columns.Bound(x => x.Mobile).Title("手机");
			columns.Bound(x => x.OrderCount).Title("订单量");
			columns.Bound(x => x.Total).Title("订单金额");
		})
		.DataBinding(dataBinding => dataBinding.Ajax().Select("List", "DeclarationProductOverview"))
		.EnableCustomBinding(true))
</div>

