@using Telerik.Web.Mvc.UI
@using SmartStore.Admin.Models.Wallet;
@{
	ViewBag.Title = T("提现申请管理").Text;
}
<div class="section-header">
    <div class="title">
		<i class="fa fa-shopping-cart"></i>
        @T("提现申请审核")
    </div>
    <div class="options">
		@*<a href="@Url.Action("Create")" class="btn btn-primary">
			<i class="fa fa-plus"></i>
			<span>@T("Admin.Common.AddNew")</span>
		</a>*@
    </div>
</div>

<div>
	@(Html.Telerik().Grid<DeclarationFinwithdraladuitModel>()
		.Name("stores-grid")
		.Columns(columns =>
		{
			columns.Bound(x => x.CustomerID);
			columns.Bound(x => x.Amount)
				.ClientTemplate("<a href=\"<#= Url #>\" target=\"_blank\"><#= Url #></a>");
			columns.Bound(x => x.WithdrawType);
			columns.Bound(x => x.WithdrawStatus);
			columns.Bound(x => x.WithdrawTime)
				.ClientTemplate("<a href=\"<#= ContentDeliveryNetwork #>\" target=\"_blank\"><#= ContentDeliveryNetwork #></a>");
			columns.Bound(x => x.WithdrawAuditTime)
				.Centered();
		})
		.DataBinding(dataBinding => dataBinding.Ajax().Select("List", "DeclarationFinwithdraladuit"))
		.EnableCustomBinding(true))
</div>

