@model DeclarationCalcRule
@using SmartStore.Core.Domain.Wallet;
@using SmartStore.Core.Domain.Discounts;
@using Telerik.Web.Mvc.UI;
@using SmartStore.Web.Framework.UI;
@{
    Html.AddScriptParts(true, "~/Administration/Scripts/jquery.tmpl.min.js");
    Html.AddScriptParts(true, "~/Administration/Scripts/smartstore.discountrules.js");
}
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)


<table class="adminContent">
    

</table>

@using (Html.BeginForm())
{

    <table class="adminContent">
        <tr>
            <td>
                <div class="table-responsive">
                    <table class="table admin-table table-hover">
                        <thead>
                            <tr>
                                <th class="xt-header text-center" scope="col">参数名称</th>
                                <th class="xt-header text-center" scope="col">参数值</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    余额转积分比例1：？积分
                                </td>
                                <td class="text-center">
                                    @Html.DisplayTextFor(model => model.CalcRewardOneL1Percent)
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    </table>
}
