@model DeclarationCalcRule
@using SmartStore.Core.Domain.Wallet;
@{
    ViewBag.Title = T("钱包算法管理").Text;
}
@using (Html.BeginForm())
{
    <div class="section-header">
        <div class="title">
            @T("钱包算法参数设置")
        </div>
        <div class="options">
            @{ Html.RenderWidget("admin_button_toolbar_before"); }
            @{ Html.RenderWidget("admin_button_toolbar_after"); }
        </div>
    </div>
    Html.RenderPartial("_CreateOrUpdate", Model);
}
