@model ShopBarModel

@using SmartStore.Web.Models.Common;

<div class="shopbar">
	<div class="shopbar-col-group shopbar-col-group-brand">
		<!-- LOGO -->
		<div class="shopbar-col shop-logo" style="z-index:99;">
			@{
				Html.RenderAction("Logo", "Common", new { area = "" });
			}
		</div>

		<!-- SEARCH -->
		<div class="shopbar-col shopbar-search"  style="
    -webkit-border-radius: 1em;
    -moz-border-radius:1em;
    -o-border-radius:1em;
    -ms-border-radius:1em;
    background-color: #FFFFFF;
    -ms-border-radius:1.0em;
">
			@{
				Html.RenderAction("SearchBox", "Search");
			}
		</div>
	</div>

	<div class="shopbar-col-group shopbar-col-group-tools">
		<!-- TOOLS -->
		@*@{ Html.RenderPartial("ShopBar.Tools", Model); }*@
	</div>
</div>