@model CustomerRewardPointsModel

@using SmartStore.Web.Models.Customer;

@{
    Html.AddTitleParts(T("PageTitle.Account").Text);

    Layout = "_dMyAccount";
    ViewBag.PageClassToken = "rewardpoints";
    ViewBag.PageTitle = T("Account.RewardPoints").Text;
}

    <div class="col-md-8 col-lg-9">
        <div class="page-title pt-4 pt-md-0">
            <h1 class="h3">抢红包</h1>
        </div>

        <div class="alert alert-info">
            当前时间段没有红包
        </div>
        <div class="">
            开红包
        </div>

    </div>

