@using Telerik.Web.Mvc.UI
@{
    ViewBag.Title = T("报单产品统计").Text;
}

<div class="section-header">
    <div class="title">
        <i class="far fa-chart-bar"></i>
        @T("报单产品统计")
    </div>
</div>

<div>
    @(Html.Telerik().Grid<DeclarationProductDispModel>()
		.Name("stores-grid")
		.Columns(columns =>
		{
			columns.Bound(x => x.Name).Title("产品名称");
			columns.Bound(x => x.Price).Title("产品价格");
			columns.Bound(x => x.Count).Title("销售量");
			columns.Bound(x => x.Amount).Title("销售额");
			columns.Bound(x => x.Level).Title("产品级别");
		})
		.DataBinding(dataBinding => dataBinding.Ajax().Select("List", "DeclarationProductOverview"))
		.EnableCustomBinding(true))
</div>

