
<!-- Slider -->
<div class="home-content d-flex mt-1 mb-3">

    <div class="col-lg-8 col-sm-12 px-0 right-side">
        <div class="swiper-container slider-home-page">
            <div class="swiper-wrapper">
                <div class="swiper-slide" data-hash="slide1"><img src="/Themes/FlexGenlin/Content/images/slider/1.jpg" /></div>
                <div class="swiper-slide" data-hash="slide2"><img src="/Themes/FlexGenlin/Content/images/slider/2.jpg" /></div>
                <div class="swiper-slide" data-hash="slide3"><img src="/Themes/FlexGenlin/Content/images/slider/3.jpg" /></div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>

    <div class="d-none d-lg-block col-lg-4 left-side">
        <img src="/Themes/FlexGenlin/Content/images/delivery-truck.jpg" />
        <img src="/Themes/FlexGenlin/Content/images/delivery-truck.jpg" />
    </div>
</div>