@model DeclarationCalcRule
@using SmartStore.Core.Domain.Wallet;
@using SmartStore.Core.Domain.Discounts;
@using Telerik.Web.Mvc.UI;
@using SmartStore.Web.Framework.UI;
@{
    Html.AddScriptParts(true, "~/Administration/Scripts/jquery.tmpl.min.js");
    Html.AddScriptParts(true, "~/Administration/Scripts/smartstore.discountrules.js");
}
@Html.ValidationSummary(false)
@Html.HiddenFor(model => model.Id)


    <table class="adminContent">
        <tr>
            <td class="adminTitle">
                提现手续费百分比
            </td>
            <td class="adminData">
                @Html.DisplayTextFor(model => model.CalcRewardOneL1Percent)
            </td>
        </tr>
        <tr>
            <td class="adminTitle">
                提现转积分百分比
            </td>
            <td class="adminData">
                @Html.DisplayTextFor(model => model.CalcRewardOneL2Percent)
            </td>
        </tr>
        
    </table>
