<div class="home-content my-3">
    <div class="service-block">
        <a onclick="openServiceModal(this)" name="register_order" class="services-item">
            <img class="services__icon" src="/Themes/FlexGenlin/Content/images/supermarket.svg" alt="روش های ثبت سفارش"
                width="40" height="60">
            <div class="services__title d-none d-lg-block d-md-block">
                روش ثبت سفارش
            </div>
        </a>

        <a class="services-item" onclick="openServiceModal(this)" name="retun_order">
            <img class="services__icon" src="/Themes/FlexGenlin/Content/images/calendar.svg" alt="ضمانت بازگشت کالا"
                width="40" height="60">
            <div class="services__title d-none d-lg-block d-md-block">
                ضمانت بازگشت
                کالا
            </div>
        </a>

        <a onclick="openServiceModal(this)" name="support" class="services-item">
            <img class="services__icon shipping-icon" src="/Themes/FlexGenlin/Content/images/clock.svg"
                alt="پشتیبانی تلفنی" width="47" height="60">
            <div class="services__title d-none d-lg-block d-md-block">
                پشتیبانی
                تلفنی 24 ساعته
            </div>
        </a>

        <a onclick="openServiceModal(this)" name="payment_methods" class="services-item">
            <img class="services__icon" src="/Themes/FlexGenlin/Content/images/wallet.svg" alt="روش های پرداخت"
                width="40" height="60">
            <div class="services__title d-none d-lg-block d-md-block">روش پرداخت</div>

        </a>

        <a class="services-item" onclick="openServiceModal(this)" name="delivery">
            <img class="services__icon shipping-icon" src="/Themes/FlexGenlin/Content/images/delivery.svg"
                alt="روش های ارسال" width="47" height="60">
            <div class="services__title d-none d-lg-block d-md-block">روش ارسال</div>
        </a>

    </div>
</div>

<div class="service-content d-none">

    <div id="register_order" class="mt-3 p-3">
        <div class="d-flex justify-content-between">
            <h3 class="align-self-center">روش ثبت سفارش</h3>
            <img class="services__icon" src="/Themes/FlexGenlin/Content/images/supermarket.svg" alt="روش های ثبت سفارش">
        </div>
        <hr />
        <br />
        <h4>روش اول :</h4>
        <p>با انتخاب هر کدام از گروه‌های اصلی تجهیزات وشبکه وارتباطات،دوربین های امینتی نظارتی،کامپیوتر وتجهیزات
            جانبی،ماشین های اداری،ملزومات اداری،لوازم التحریر، زیرگروه‌های هر یک باز شده و با کلیک روی گروه مشخص شده،
            شما به صفحه‌ی مربوط به آن دسته کالا فرستاده می‌شوید. در این بخش می‌توانید کالای خود را از بین محصولات
            پیشنهادی انتخاب کرده و با کلیک بر روی جزئیات از مشخصات آن مطلع شوید، سپس در صورت تمایل با فشردن گزینه‌ی
            اضافه به سبد خرید، کالای خود را برای خرید انتخاب کنید همچنین شما میتوانید تعداد کالا انتخابی خود را افزایش
            دهید.</p>
        <br />
        <br />
        <h4>روش دوم :</h4>
        در روش بعدی شما باید نام و نوع کالای مورد‌نظرتان که مطمئن هستیدرا وارد کنید، در این صورت اطلاعات مربوط به محصول
        مورد نظر شما روی صفحه نشان داده میشود. در این قسمت مانند روش قبل می‌توانید بعد از مشاهده جزئیات کالا و انتخاب
        تعداد مورد نیاز، آن را به سبد خرید خود اضافه کنی
        در مرحله بعد به سبد خرید که در بالای صفحه به حساب کاربری رفته و روی نمایش سبد خرید کلیک کنید. در این صفحه شما
        میتوانید محصول انتخابی خود و هزینه سفارش خود رامشاهده کنید.تامین شید در سطح شهرستان پاکدشت برای خرید بیش از
        200000تومان ارسال رایگان در نظر دارد. همچنین در صورت داشتن بن تخفیف، با وارد کردن آن در کادر مشخص شده، مبلغ
        تخفیف از صورت حساب شما کسر خواهد شد.

    </div>


    <div id="retun_order" class="mt-3 p-3">
        <div class="d-flex justify-content-between">
            <h3 class="align-self-center">ضمانت بازگشت کالا</h3>
            <img class="services__icon" src="/Themes/FlexGenlin/Content/images/calendar.svg" alt="ضمانت بازگشت کالا">
        </div>
        <hr />
        <br />
        ما در تامین شید از همان ابتدای کار اصول مشتری مداری را سرلوحه کار خود قرار داده‌ایم. به همین سبب و به پاس
        قدردانی از اعتماد شما در خرید آنلاین از تامین شید حسن نیت خود را با ضمانت عودت کالا نشان داده ایم. همواره در
        هنگام خرید پیش آمده که از بعضی عیوب کالا غافل شده و پس از بررسی مجدد کالا به ایرادات آن پی می‌بریم. از آنجا که
        این مساله غیر قابل پیشگیری است این امکان را برای شما مشتریان گرامی فراهم نمودیم تا در صورت بروز مشکل با شرایط
        زیر، با همکاران خدمات پس از فروش تامین شید تماس بگیرید تا شما را در روند عودت کالای معیوب راهنمایی کنند.
        <br />
        <br />
        <h4>ضوابط کلی</h4>

        از دریافت کالاهای بدون بسته بندی تامین شید جدا خودداری نمایید.

        <br />
        لطفا پس از دریافت سفارش، بسته بندی آن را باز کرده و فاکتور خرید خود را با نوع کالای سفارشی‌تان تطابق دهید. در
        صورت عدم هماهنگی از دریافت کالا خودداری کرده و سفارش را به پیک استرداد نمایید.
        <br />
        <br />

        <h4>شرایط بازگرداندن تجهیزات کامپیوتر وماشین های اداری :</h4>
        تمام محصولات قبل از ارسال در فروشگاه تامین شید تست میشوند بعد دریافت شما میتوانید ان را تست کرده و در صورت بروز
        هرگونه مشکل محصول را به مسئول پیک استرداد نمایید.
        <br />
        <br />

        <h4>شرایط بازگرداندن لوازم التحریر:</h4>
        در صورت وجود ایراد فیزیکی و عملکردی در کالاهای گروه لوازم التحریر، همان لحظه داخل بسته را چک کنید در صورت داشتن
        مشکل فیزیکی محصول را به مسئول پیک استرداد کنید.
        <br />

        لطفاً قبل از هر اقدامی با کارشناسان پشتیبانی خدمات پس از فروش تماس بگیرید
        <br />

        از ارسال کالا بدون هماهنگی با خدمات پس از فروش تامین شید جداً، خودداری کنید
        <br />

        برای ارسال، باید کالا در جعبه یا کارتن اصلی خود به ‏خوبی بسته‌بندی شود و لوازم جانبی و همه اقلام همراه مانند
        کابل، ریموت، باطری، دفترچه راهنما، کارت گارانتی، کارت بیمه، بند و قطعات بسته‌بندی به همراه کالای اصلی ارسال شود
        <br />

        برچسب‌زدن یا نوشتن توضیحات، آدرس یا هر مورد دیگری روی کارتن یا جعبه اصلی کالا و یا پاره و مخدوش کردن آن، امکان
        استفاده از ضمانت بازگشت را از بین خواهد برد. (در صورت لزوم، توضیحات خود را پشت فاکتور خرید یا قطعه کاغذ
        جداگانه‌ای بنویسید).

    </div>


    <div id="support" class="mt-3 p-3">
        <div class="d-flex justify-content-between">
            <h3 class="align-self-center">پشتیبانی 24 ساعته</h3>
            <img class="services__icon" src="/Themes/FlexGenlin/Content/images/clock.svg" alt="پشتیبانی تلفنی">
        </div>
        <hr />
        <br />
        کاربر گرامی، لطفاً در صورت وجود هرگونه سوال یا ابهامی، پیش از ارسال ایمیل یا تماس تلفنی با تامین شید، بخش
        پرسش‏های متداول را ملاحظه فرمایید و در صورتی که پاسخ خود را نیافتید، با ما تماس بگیرید یا از طریق ایمیل تامین
        شید به ما پیام دهید.

    </div>


    <div id="payment_methods" class="mt-3 p-3">
        <div class="d-flex justify-content-between">
            <h3 class="align-self-center">نحوه پرداخت هزینه</h3>
            <img class="services__icon" src="/Themes/FlexGenlin/Content/images/wallet.svg" alt="روش های پرداخت">
        </div>
        <hr />
        <br />
        پس از ثبت سفارش و پرداخت هزینه سفارش از طریق درگاه های اینترنتی به صفحه‌ی مشخصات آدرسی که در زمان ثبت‌نام در
        سایت ثبت کرده‌اید، می‌روید که با انتخاب آدرس های از قبل درج شده یا درج آدرس جدید به صفحه‌ی ارسال با پست راهنمایی
        می‌شوید.

        <br />
        کاربر گرامی شما میتوانید پرداخت خود را از درگاه های اینترنتی انجام دهید و هزینه سفارش خود را پرداخت کنید
        پس از ثبت سفارش مورد نظر خود در یک صفحه‌ی مشخصات کالاهای خریداری شده‌ی شما نمایش داده می‌شود و با تأیید نهایی و
        پذیرفتن شرایط و قوانین سایت شما به صفحه‌ی پرداخت از طریق درگاه بانکی فرستاده می‌شوید.

        <br />
        پس از پرداخت مبلغ نهایی شده در فاکتور، به وسیله هر کارت بانکی عضو شبکه‌ی شتاب، خرید شما با موفقیت انجام شده و
        فاکتور سفارش خریدتان به انبار فرستاده می‌شود. در این قسمت پس از بسته‌بندی کالا، سفارش شما به ادرس مورد نظر ارسال
        میشود.
        در حال حاضر تنها امکان پرداخت آنلاین از طریق درگاه بانک امکان پذیر است

    </div>


    <div id="delivery" class="mt-3 p-3">
        <div class="d-flex justify-content-between">
            <h3 class="align-self-center">روش ارسال</h3>
            <img class="services__icon" src="/Themes/FlexGenlin/Content/images/delivery.svg" alt="روش های ارسال">
        </div>
        <hr />
        <br />
        تامین شید درحال حاضر در سطح پاکدشت خرید اینترنتی دارد.
        <br />
        1- ارسال سفارشات شما در همان روز طی ساعات 10صبح و 15بعدازظهر ارسال میشود
        <br />
        2- هزینه مسافت ارسال سفارشات در شهرستان پاکدشت رایگان میباشد
        <br />
        کاربر گرامی اگر در محدود خارج از شهرستان پاکدشت هستید و تمایل به خرید از محصولات تامین شید را دارید ،برای سفارش
        میتوانید با پشتیبانی ما تماس بگیرید.

    </div>




</div>